.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #2b2c37;
  border-bottom: 1px solid #3e3f4e;
  height: 10%;

  h1 {
    margin-left: 24px;
    font-size: 24px;
    color: #ffffff;
  }
}

.button-wrapper {
  display: flex;
  margin-right: 33px;

  .vertical-ellipsis {
    margin-left: 24px;
  }
}
