.banner {
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--color-light);
  border-bottom: 0.1rem solid var(--color-lines);
  height: 10%;
}

.button-wrapper {
  & > :first-child {
    margin-right: 2.4rem;
  }

  display: flex;
  align-items: center;
}
