.board {
  display: flex;
  gap: 24px;
  padding: 24px;
  width: 100%;
  background: var(--color-bg);
  height: 90%;

  .column {
    width: 280px;
  }

  .task {
    cursor: pointer;
    margin-top: 20px;
    width: 280px;
    background: #2b2c37;
    box-shadow: 0px 4px 6px rgba(54, 78, 126, 0.101545);
    border-radius: 8px;
    padding: 23px 16px;
  }

  .new-column {
    width: 280px;
    background: linear-gradient(
      180deg,
      rgba(43, 44, 55, 0.25) 0%,
      rgba(43, 44, 55, 0.125) 100%
    );
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

.no-columns {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--color-bg);

  .button {
    margin-top: 32px;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.hide-navbar-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 5.6rem;
  height: 4.8rem;
  left: 0;
  top: 82.5rem;
  background: #a8a4ff;
  border-radius: 0 10rem 10rem 0;
  cursor: pointer;
}
