.board {
  width: 100%;
  background: var(--color-bg);
  height: 90%;
}

.hide-navbar-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 5.6rem;
  height: 4.8rem;
  left: 0;
  top: 82.5rem;
  background: #a8a4ff;
  border-radius: 0 10rem 10rem 0;
  cursor: pointer;
}
