.board {
  display: flex;
  gap: 24px;
  padding: 24px;
  height: 100%;
  background: var(--color-bg);
  overflow: scroll;

  &__container {
    width: calc(100% - var(--sidebar-width));

    &.full-width {
      width: 100%;
    }
  }

  .new-column {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    min-width: 280px;
    background: var(--color-gradient);
    color: var(--color-medium-grey);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
      color: var(--color-primary);
    }

    span {
      font-size: 2.4rem;
      font-weight: 700;
    }

    &:active > span {
      color: var(--color-primary);
    }
  }
}

.no-columns {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: var(--color-bg);

  .button {
    margin-top: 32px;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
