.side-bar {
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30rem;
  background: var(--color-light);
  border-right: 1px solid var(--color-lines);

  &__logo {
    margin-top: 1.2rem;
    margin-left: 3.4rem;
    margin-bottom: 3.4rem;
  }

  &__heading {
    padding-left: 3.2rem;
    text-transform: uppercase;
    color: var(--color-medium-grey);
    margin-bottom: 2rem;
  }

  &__hide-icon {
    margin-top: 1rem;
  }
}

.hide {
  display: none;
}

.sidebar {
  &__footer {
    margin-top: auto;
  }
}
