.modal-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__heading {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    line-height: 22.68px;

    svg {
      cursor: pointer;
      min-width: 24px;
      padding-left: 19px;
      fill: #828fa3;
    }
  }

  &__status {
    color: var(--color-grey);
    margin-bottom: 0.8rem;
  }

  .secondary-button {
    margin-top: 12px;
  }
}
