.modal-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__heading {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    line-height: 22.68px;

    svg {
      cursor: pointer;
      min-width: 24px;
      padding-left: 19px;
      fill: #828fa3;
    }
  }

  &__body {
    font-size: 1.3rem;
    line-height: 23px;
    color: var(--color-grey);
  }

  &__subtasks {
    color: var(--color-grey);
    margin-bottom: 1.6rem;
  }
}
