@use "sass:math";
@use "./abstract/variables" as *;
@use "./themes";
@use "./base";

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap");

:root {
  // CONSTANT COLOR VARIABLES
  --color-primary: #{$color-purple};
  --color-primary-light: #{$color-purple-light};
  --color-secondary: #{$color-red};
  --color-secondary-light: #{$color-red-light};
  --color-white: #{$color-white};
  --color-medium-grey: #{$color-grey-1};
  --color-medium-grey-opacity: #{$color-grey-1-opacity};
  --banner-height: 9.5rem;
  --sidebar-width: 30rem;

  // DEFAULT THEME
  @include themes.light-theme;
}

html {
  // Converting 10px into percentage %
  font-size: math.div(100, 16) * 10%;
  //62.5% = 10px
  // font-size: 10px;
}

body {
  font: $font-weight $font-size $font-primary;
  line-height: $line-height;
  color: var(--color-text);
  background-color: var(--color-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 0.5em;
}
::-webkit-scrollbar-track {
  background: var(--color-bg);
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--color-primary-light);
}
::-webkit-scrollbar-corner {
  background: var(--color-bg);
}

// When this class is added on body
.dark-theme {
  @include themes.dark-theme;
}

.app {
  height: 100vh;
}

.board-container {
  display: flex;
  height: calc(100% - var(--banner-height));
}
