@use "sass:math";
@use "./abstract/variables" as *;
@use "./themes";
@use "./base";

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap");

:root {
  // CONSTANT COLOR VARIABLES
  --color-primary: #{$color-purple};
  --color-primary-light: #{$color-purple-light};
  --color-secondary: #{$color-red};
  --color-secondary-light: #{$color-red-light};
  --color-white: #{$color-white};
  --color-medium-grey: #{$color-grey-1};

  // DEFAULT THEME
  @include themes.light-theme;
}

html {
  // Converting 10px into percentage %
  font-size: math.div(100, 16) * 10%;
  //62.5% = 10px
  // font-size: 10px;
}

body {
  font: $font-weight $font-size $font-primary;
  color: var(--color-text);
  line-height: $line-height;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// When this class is added on body
.dark-theme {
  @include themes.dark-theme;
}

.board-container {
  display: flex;
  height: 100vh;
}

/* .light {
  aside {
    border-right: 1px solid #e3ebfa;
    background: white;
  }

  .page-theme-container {
    background: #f4f7fd;
  }

  .banner {
    background: white;
    border-bottom: 1px solid #e3ebfa;

    h1 {
      color: #000112;
    }
  }

  .board {
    background: #f4f7fd;
  }
}
 */
