.board-container {
  display: flex;
  height: 100vh;
}

.dark {
}

.light {
  aside {
    border-right: 1px solid #e3ebfa;
    background: white;
  }

  .page-theme-container {
    background: #f4f7fd;
  }
}
